@page "/cats"

<h3>Cats</h3>

<FluentStack Wrap="true">
    <Virtualize ItemsProvider="LoadCats">
        <CatPic />
    </Virtualize>
</FluentStack>

@code
{
    int AmountOfCats { get; set; } = 100;

    private ValueTask<ItemsProviderResult<int>> LoadCats(ItemsProviderRequest request)
    {
        var amountToLoad = Math.Min(request.Count, AmountOfCats - request.StartIndex);

        return new(new ItemsProviderResult<int>(Enumerable.Range(request.StartIndex, amountToLoad), AmountOfCats));
    }
}